<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trinity Roots Co.,Ltd.</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    img {

      height: 100%;
    }
  </style>
</head>

<body>
  <img class="wave" src="/static/img/wave.png">
  <div class="container">
    <div class="img">
      <img src="/static/img/bg.svg">
    </div>
    <div class="login-content">
      <form>
        <img src="/static/img/tlr.jpg">
        <h3 class="title">tirinity Roots Co.,Ltd.</h3>
        <div id="error-page">
          <div class="content">
            <h1>
              สวัสดีคุณ
            </h1>
            <h2>
              {{name}}

            </h2>

            <h5>
              ระบบได้บันทึกข้อมูลไลน์ของคุณเข้าสู่ระบบ
            </h5>
            <br>
            <h6>
              การเก็บข้อมูลไลน์ ในการรับการแจ้งเตือนต่างๆ พร้อมทั้งสอบถามข้อมูลผ่านไลน์
              หากไม่ยืนยันตัวตนคุณจะไม่สามารถใช้งานได้
            </h6> 
          

      </form>

    </div>
  </div>

</body>

</html>